@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.nav-link {
  color: white;
}
.active {
  color: yellow !important ;
  border-bottom: 1px solid gray;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
}
.container-fluid > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.container-fluid > a:focus,
.container-fluid > a:hover {
  text-decoration: none;
}
main {
  min-height: 87vh;
  width: 100vw;
}

/* for footer */
footer {
  margin-top: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

.footer-menu {
  display: flex;
  gap: 1rem;
}
.footer-menu > a {
  color: black;
  text-decoration: none;
  padding: 0.4rem;
}
.footer-menu > a:hover {
  opacity: 0.6 !important;
  color: white;
}

/* page not found page */

.page-not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 60vh;
}
.pnf-subheading {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}
.pnf-button {
  padding: 0.5rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  margin-top: 0.5rem;
}

/* contact page  */

.contact-image {
  width: 100%;
  height: 100%;
}
.contact-details {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-details > span {
  text-align: left;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.con-heading {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  background-color: black;
  color: white;
  text-align: left;
  padding: 1rem;
}

/* ====================================
===========register form */

.register-form {
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  color: black;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.register-outer {
  padding-top: 5rem;
  background-image: url("./assets/login.jpg");
  opacity: 80%;
  margin: auto;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
}

/* =====Login form+======= */

.login-form {
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  color: black;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.login-outer {
  padding-top: 5rem;
  background-image: url("./assets/login.jpg");
  opacity: 80%;
  margin: auto;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
}

.Login-heading {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.login-btn {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #bf0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  -webkit-box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.login-btn::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  -webkit-box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-btn:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.login-btn:active {
  -webkit-box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0.1em, 0.1em);
  -ms-transform: translate(0.1em, 0.1em);
  transform: translate(0.1em, 0.1em);
}

/* single product page */

.product-photo {
  height: auto;
  padding: 5rem 0 5rem 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  /* margin-top: 3rem; */
}
.product-photo > img {
  height: 20rem;
}
.product-container {
  margin-top: 5rem;
  display: flex;
}
